/* CONFIGURAÇÕES GERAIS */

body
{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("../images/sala-cinema.jpg");
}

h1
{
	color: #ff7300;
	font-family: 'Lato', sans-serif;
}

h2,
p,
a,
li,
i
{
	color: #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

ul,
li
{
	display: inline-block;
}

h1,
h2,
i.fa
{
	font-size: 1.5rem
}

/* HEADER */

header
{
    top: 0%;
	width: 100%;
    z-index: 999;
	position: fixed;
	display: inline-block;
	background: rgba(0,0,0,.8);
    border-bottom: 1px solid black;
}

header div
{
	width: 33%;
	padding: 20px 0;
	text-align: center;
	display: inline-block;
}

header div span
{
	padding: 0 10px;
}

header div span:first-child
{
	background: #fff;
}

div.logo
{
	padding: 0;
}

div.logo img
{
	width: 4rem;
}

div.logo img,
div.logo h1
{
	display: inline-block;
}

div.contact,
div.visiting,
div.shop
{
	width: 10%;
}

div.visiting i
{
	margin-right: 1rem;
}

div.shop
{
	text-align: left;
}

div.shop i
{
	margin-left: 1rem;
}

div.contact p,
div.visiting p,
div.hide-search p
{
	display: inline;
	vertical-align: super;
}

div.search i
{
	color: black;
	font-size: 1rem;
	text-shadow: none;
}

div.search span
{
	width: 50%;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
}

div.search span input
{
	border: none;
}

div.hide-search
{
	display: none;
}

/* nav */

nav
{
	padding: 80px 0 0;
	position: relative;
	margin-bottom: 50px;
}

nav ul
{
	right: 12%;
	position: absolute;
}

nav ul li
{
	padding: 1rem;
	font-size: 1.3rem;
}

/* main */

main img
{
	width: 100%;
	box-shadow: 0px 15px 35px -20px rgba(0,0,0,.3);
}

main figure img
{
	padding: 10px 0 0;
}

main section
{
	width: 100%;
	max-width: 980px;
	margin: 30px auto;
}

main section ul
{
	width: 100%;
}

main section ul li
{
    width: 230px;
	height: 338px;
	margin: 10px 5px;
    border: 1px solid;
}

main section li
{
	transition: 1s;
}

main section li:hover
{
	transform: scale(1.1);
}

/* footer */

footer
{
	width: 100%;
	background-image: linear-gradient(#252525, black);
}

footer div 
{
	width: 100%;
	margin: 0 auto;
	padding: 5rem 0;
	max-width: 980px;
}

footer div section
{
	width: 230px;
	display: inline-grid;
	margin-top: 15px;
}

footer div section:last-child
{
	width: 100%;
	margin-top: 50px;
}

footer div section:last-child p
{
	margin-top: 5px;
	font-size: .7rem;
}

footer div section h2
{
	font-size: 1.3rem;
}

footer div section ul
{
	margin-top: .5rem;
}

footer div section ul li
{
	display: block;
	margin-bottom: .5rem;
}

footer div section ul li a
{
	color: #ff7300;
}

footer div section ul.social li
{
	margin-right: 10px;
	display: inline-block;
}

footer div section ul.social li a i
{
	color: #ff7300;
}

footer div section ul.credit-card li
{
	width: 32px;
	display: inline-block;
	text-indent: -9999px;
}

footer div section ul.credit-card li[value*="cirrus"]
{
	background-image: url(../images/credit-cards.png);
    background-position-x: 52px;
    background-position-y: -2px;
    height: 40px;
    width: 50px;
}

footer div section ul.credit-card li[value*="maestro"]
{
	background-image: url(../images/credit-cards.png);
    background-position-x: 186px;
    background-position-y: -2px;
    height: 40px;
    width: 50px;
}

footer div section ul.credit-card li[value*="electron"]
{
	background-image: url(../images/credit-cards.png);
    background-position-x: 254px;
    background-position-y: -2px;
    height: 40px;
    width: 50px;
}

footer div section ul.credit-card li[value*="mastercard"]
{
	background-image: url(../images/credit-cards.png);
    background-position-x: 376px;
    background-position-y: -2px;
    height: 40px;
    width: 50px;
}

@media screen and (max-width: 1300px)
{
	div.hide-search
	{
		display: inline-block;
	}

	div.search
	{
		display: none;
	}

	div.hide-search,
	div.contact, 
	div.visiting, 
	div.shop 
	{
		width: 16%;
	}
}

@media screen and (max-width: 800px)
{
	div.logo h1,
	div.hide-search p,
	div.contact p, 
	div.visiting p
	{
		display: none;
	}

	div.logo
	{
		width: 40%;
		text-align: left;
		margin-left: 5%;
	}

	div.hide-search,
	div.contact, 
	div.visiting, 
	div.shop 
	{
		width: 10%;
	}
}